<div class="mapSearchPopover popover top" style="max-width: none; opacity: 1">
  <div class="arrow"></div>
  <div class="popover-content" style="width: 25em; height: 25em; padding: 2px; display: flex; flex-direction: column;">
    <div class="info" style="
    padding: 0.25em;
    text-align: center;
    color: #555;
    font-size: 95%;
    font-style: italic;
    flex: 0 0 auto
    "></div>
    <div class="map" style="flex: 1 1 auto"/>
  </div>
</div>
