<span class="mapping-buttons">
  <button class="btn btn-link btn-small cancel-mapping">Cancel</button>
  <button class="btn btn-primary btn-small add-edge" disabled>Save</button>
</span>

<div class="selector"></div>
<div class="visibility"></div>
