<div class="com-visallo-structuredFile-text-table">
  <div class="buttons">
    <button class="btn btn-default btn-small">Map Structured Data</button>
  </div>
  <div class="table">Loading...</div>
</div>
