.book .book-summary .book-search {
    position: relative;
    color: inherit;
}
.book .book-summary .book-search:before {
    font-family: FontAwesome;
    content: "\f002";
    position: absolute;
    top: 50%;
    left: 1em;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.book .book-summary .book-search input:hover,
.book .book-summary .book-search:hover input,
.book .book-summary .book-search input:focus,
.book .book-summary .book-search input {
    border: 1px solid #eee;
    background: white;
    border-radius: 1em;
    padding: 0.25em;
    padding-left: 1.75em;
}
