<div class="offline-overlay">
  <div>
    <h1>{{ i18n 'visallo.offline_overlay.header' }}</h1>
    <p>{{ i18n 'visallo.offline_overlay.subheader' }}</p>
    <p class="last-checked"></p>
  </div>
</div>
