/data/
target/
.idea/*
!.idea/runConfigurations/
*.iml
.vagrant
.settings/
.project
.classpath
.DS_Store
*.swp
allCountries.txt
coverage-error.log
cobertura.ser
catalog-v001.xml
_site
docs/_book/
logs/
dependency-reduced-pom.xml
datastore/
docs/java
docs/javascript
