<span class="title"><%= title %></span>
<div>
  <span class="date"><% if (timeSubtitle) { %><%= timeSubtitle %><% } %></span>
  <span class="source"><% if (subtitle) { %><%= subtitle %><% } %></span>
</div>
