This is your <span data-selector=".menubar-pane li.dashboard">dashboard</span> contained within a new workspace created just for you. Some cards — this section, for example — have been placed automatically, but it's entirely customizable. Many cards can also be configured using the <span data-selector=".grid-stack-item-content > h1 .configure:visible">settings</span> icon. To rearrange, add and remove cards use the <span data-selector=".dashboard-pane .header .edit-dashboard">Edit</span> button next to the dashboard heading.

{{ userGuideLink 'dashboard' 'Dashboard' }}
