The graph shows all entities and edges in your case.  To add entities to the case:

<ol>
  <li>Drag entities found in the Find panel to the graph.</li>
  </li>
  <li>Right-click in the graph and Create Entity.</li>
</ol>
