To find entities in Visallo or on the 
<span data-selector=".workspace-overlay h1 .name">{{ i18n 'alias.case.lowerCase' }}</span>
use the <span data-selector=".menubar-pane .search">Find</span> button.
