{{ i18n 'alias.case.plural' }} shows a list of all your
<span data-selector=".menubar-pane .workspaces">{{ i18n 'alias.case.plural.lowerCase' }}</span>, with the
<span data-selector=".workspace-overlay h1 .name">current {{ i18n 'alias.case.lowerCase' }}</span>
highlighted. You can also share your case with other users in this panel.
