Cases shows a list of all your
<span data-selector=".menubar-pane .workspaces">cases</span>, with the
<span data-selector=".workspace-overlay h1 .name">current case</span>
highlighted. You can also share your case with other users in this panel.
