Spaces shows a list of all your 
<span data-selector=".menubar-pane .workspaces">workspaces</span>, with the 
<span data-selector=".workspace-overlay h1 .name">current workspace</span>
highlighted. You can also share your workspace with other users in this panel.

{{ userGuideLink 'workspaces' 'Workspace' }}
