<div class="detail-pane detailPanePopover popover top" style="position: relative; transform: none; margin: 0;">
  <button class="close-popover">&times;</button>
  <div class="arrow"></div>
  <div class="popover-content content">
    <div class="type-content"></div>
  </div>
</div>
