globals:
    dispatchMain: false
    atmosphere: false
    publicData: false
    processMainMessage: false
    pushSocketMessage: false
    closeSocket: false
    ajaxPostfilter: false
    ajaxPrefilter: false
    BASE_URL: false
