<div class="group">
  {{ i18n 'controls.options.panOrSelect.title' }}
  <label><input name="panOrSelect" value="pan" type="radio" {{#if isPan }}checked{{/if}}> {{ i18n 'controls.options.panOrSelect.pan' }}</label>
  <label><input name="panOrSelect" value="select" type="radio" {{#unless isPan}}checked{{/unless}}> {{ i18n 'controls.options.panOrSelect.select' }}</label>
</div>
<div class="subtitle">{{ subtitle }}</div>
