{{#if displayTime}}
  <div class="input-append dateField">
    {{> fields/dateTimeTpl }}
    <span class="add-on timezone"></span>
  </div>
{{else}}
  <input data-provide="datepicker" placeholder="{{today}}" 
    value="{{dateString}}" type="text" pattern="\d{4}-\d+-\d+"></input>
{{/if}}
