<div class="animationwrap">
<input 
data-title="&lt;strong&gt;<%= i18n('justification.field.tooltip.title') %>&lt;/strong&gt;&lt;br&gt;<%= i18n('justification.field.tooltip.subtitle') %>"
  data-placement="left"
  data-trigger="focus"
  data-html="true"
  class="editing"
  placeholder="<%= i18n('justification.field.placeholder.' + (required ? 'required' : 'optional')) %>"
  type="text"
  value="<%= value %>"<% if (required) {%> required<% } %>></input>
</div>
