<div class="popover searchResultsPopover top">
  <div class="arrow"></div>
  <div class="popover-content">
    <button class="btn btn-small btn-link open-in-search">{{ i18n 'dashboard.search.results.open.button' }}</button>
    <div class="list loading-small-animate"></div>
  </div>
</div>

