<div class="popover top">
  <div class="arrow"></div>
  <div class="popover-content" style="padding:0;">
    <button class="btn btn-small btn-link open-in-search"
      style=" margin: 0; border-bottom: 1px solid rgba(214, 214, 214, 0.94);"
      >Open in Search...</button>
    <div class="list loading-small-animate" style="max-height:20em; overflow: auto;"></div>
  </div>
</div>

