<div style="display:none" class="segmented-control">
  <button>-</button>
  <button>+</button>
</div>
<div style="display:none" class="no-data-message">
  <h2>{{ i18n 'histogram.no_data' }}</h2>
  {{noDataMessageDetailsText}}
</div>
