
@padding: 20px;

.controls {
  position: absolute;
  right: 0;
  top: @padding;
  margin-right: @padding;
  opacity: 0.9;
  .transition(transform 0.1s ease-out);
  z-index: @graph-zIndex;

  @bg: #929292;
  @active-bg: #575757;


  .tools {
    .disable-text-selection;
    margin: 0 8px 0 0;
    position: absolute;
    right: 100%;
    text-align: right;
    width: auto;
    & > * {
      margin-left: 0.5em;     
    }

    & > div {
      display: block;
    }

    .select {
        background-image: url(../img/selection.png);
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
        width: 1.2em;
    }
  }
  button {
      background-color: @bg;
      border-radius: 2px;    
      &.active {
        background-color: @active-bg;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      &:hover {
        background-color: @active-bg;
      }
  }
  .panner, button {
      transition: background-color ease-in-out 0.1s;
  }
  .panner.active,
  .panner:hover {
      background-color: @active-bg;
  }

  .zoom {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;        
  }
  .zoom:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;        
  }

  .options {
    button {
      margin: 0;
      background-image: url(../img/glyphicons/white/glyphicons_157_show_lines@2x.png);
      background-size: 60%;
      background-repeat: no-repeat;
      background-position: center;
      font-size: 0;
      width: 20px;
      height: 23px;
    }
    .options-container {
      position: absolute;
      right: 0;
      white-space: nowrap;
      padding: 0.5em;
      padding-bottom: 0.1em;
      background: @active-bg;
      text-shadow: 0 -1px 0 darken(@active-bg, 10%);
      color: white;
      box-shadow: 0 5px 10px rgba(0,0,0,0.2);
      border-radius: 6px;
      border-top-right-radius: 0;
      padding: 0.5em;
      font-size: 85%;
      input {
        vertical-align: middle;
        margin: 0 0.25em;
      }


      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          padding: 0.3em 0.5em;
          margin: 0;
          label {
            font-size: inherit;
            margin: 0;
          }

          .group label {
            display: inline;
            input {
              margin-left: 0.5em;
              margin-right: 0.1em;
            }
          }
          .subtitle {
            font-style: italic;
            color: #ccc;
          }
        }
      }
    }
  }

  button {
    width: 100%;
    color: white;
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 120%;
    font-weight: bold;
    border: 0;
    letter-spacing: 1px;
    line-height: 1.1em;
    margin-bottom: 0.5em;
    &.zoom {
      float: left;
      width: 50%;
    }
  }

  .panner {
    @size: 50px;
    cursor: move;
    width: @size;
    height: @size;
    position: relative;
    margin-bottom: 0.5em;
    border-radius: @size;
    //border: 2px solid #ddd;
    background: @bg;
    .box-sizing(border-box);

    @base: 4px;
    @height: 14px;
    @moveDelta: 4px;
    @color: white;

    .arrow-top, .arrow-bottom, .arrow-left, .arrow-right {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      position: absolute;
      top: 50%;
      left: 50%;
    }
    .arrow-top {
      border-width: 0 @base @height @base;
      border-color: transparent transparent @color transparent;
      margin-left: @base * -1;
      margin-top: @height * -2 + @moveDelta;
    }
    .arrow-bottom {
        border-width: @height @base 0px @base;
        border-color: @color transparent transparent transparent;
        margin-left: @base * -1;
        margin-top: @height - @moveDelta;
    }
    .arrow-left {
        border-width: @base @height @base 0;
        border-color: transparent @color transparent;
        margin-left: @height * -2 + @moveDelta;
        margin-top: @base * -1;
    }
    .arrow-right {
        border-width: @base 0px @base @height;
        border-color: transparent transparent transparent @color;
        margin-left: @height - @moveDelta;
        margin-top: @base * -1;
    }
  }
}

@import "controls/segmented";
