<section>
  <label>{{ i18n 'dashboard.visualization.section' }}</label>
  <select disabled class="reportType">
    <option>{{ i18n 'dashboard.visualization.section.loading' }}</option>
  </select>
</section>
<div class="custom_report_config"></div>
