<div class="popover connect-dialog top">
  <div class="arrow"></div>
  <div class="popover-content">
    <div class="errors"></div>
    <div class="form find-path-form">
      <select class="edgeLabel">
        <option>Loading...</option>
      </select>
      <ul></ul>

      <select class="hops">
        <option value="2"><%= i18n('popovers.find_path.hops.option', 2) %></option>
        <option value="3" selected><%= i18n('popovers.find_path.hops.option', 3) %></option>
        <option value="4"><%= i18n('popovers.find_path.hops.option', 4) %></option>
        <option value="5"><%= i18n('popovers.find_path.hops.option', 5) %></option>
      </select>

      <button class="btn btn-primary find-path">Find Path</button>
    </div>
  </div>
</div>
