<div class="date-field-filter-wrap">
  <div class="date-field"></div>
  <button class="switch-relative btn btn-link btn-small">Switch to Relative&hellip;</button>
  <button class="switch-absolute btn btn-link btn-small">Switch to Absolute&hellip;</button>
</div>
