<div class="directory-entity-field-filter-wrap">
  <div class="directory-entity-field"></div>
  <button class="switch-current-user btn btn-link btn-small">{{ i18n 'field.directory.current_user' }}</button>
  <button class="switch-choose-user btn btn-link btn-small">{{ i18n 'field.directory.choose_user' }}&hellip;</button>
</div>
