<li class="entity-filter-row" data-filter-key="elementExtendedData">
  <div class="current-property">
    <label><%= i18n('search.filters.related_to') %></label>
    <button class="remove-icon"><%= i18n('search.filters.button.remove') %></button>
  </div>
  <div class="configuration">
    <input readonly type="text" value="<%= title %>"></input>
  </div>
</li>

