<li class="extension-filter-row" data-filter-key="{{ filterKey }}">
  <div class="current-property">
    <label>{{ sectionHeader }}</label>
    <button class="remove-icon">{{ i18n 'search.filters.button.remove' }}</button>
  </div>
  <div class="configuration"></div>
</li>

