<div class="property-selector"></div>
<div class="current-property" style="display:none">
  <div class="header">
    <label>
      <span><!-- Property Display Name --></span>
      <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
          <span></span>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu"></ul>
      </div>
    </label>
    <button class="remove-icon">×</button>
  </div>
  <div class="fields">
    <div class="configuration"></div>
  </div>
</div>
