globals:
    after: false
    afterEach: false
    assert: false
    before: false
    beforeEach: false
    chai: false
    describe: false
    describeComponent: false
    describeMixin: false
    expect: false
    it: false
    mocha: false
    Mocha: false
    requirejs: false
    setupComponent: false
    xdescribe: false
    xit: false
rules:
    no-unused-expressions: 0
    strict: 0
    key-spacing: 0
    no-trailing-spaces: 0
    no-multi-spaces: 0
    new-cap: 0;
    comma-spacing: 0
    space-before-blocks: 0
    space-before-function-paren: 0
