<div class="timelineConfigPopover popover top">
  <div class="popover-title">
    <label>
      <input data-title="ALL" type="checkbox" checked>
      {{ i18n 'popovers.timelineconfig.title' }}
    </label>
  </div>
  <div class="arrow"></div>
  <div class="popover-content">
    <div class="errors"></div>
    <ul></ul>
  </div>
</div>

