<div class="dashboardConfigurePopover popover top">
  <div class="arrow"></div>
  <div class="popover-content">
    {{#if empty}}
      {{ i18n 'dashboard.configure.none.available' }}
    {{/if}}
  </div>
</div>

