<h1 class="header"><input type="text" readonly value="{{ i18n 'dashboard.title' title }}">{{#if creator}}<button class="edit-dashboard btn btn-link">Edit</button>{{/if~}}
<button class="refresh">Refresh</button></h1>
<div class="grid-scroller">
<div class="grid-stack" data-gs-width="12" data-gs-height="0"></div>
</div>
