<div class="grid-stack-item loading-card" {{#each dataAttrs}}data-{{key}}="{{value}}" {{/each}}>
  <div class="grid-stack-item-content">
    <h1><span>{{title}}</span>{{#if creator}}<button class="configure btn btn-small">Configure</button>{{/if}}</h1>
    <button class="remove-item">&times;</button>
    <div class="item-content"></div>
  </div>
</div>
