<ul class="nav nav-list">
    <li class="nav-header">Relationship</li>
    <li class="relationship-container"></li>

    <li class="nav-header">Display Name</li>
    <li><input type="text" placeholder="Display Name" class="displayName"></li>

    <li class="nav-header"><label style="font-size: 100%;font-weight: bold;"><input type="checkbox" class="updateable"> Updateable</label></li>

    <li class="nav-header"><label style="font-size: 100%;font-weight: bold;"><input type="checkbox" class="deleteable"> Deleteable</label></li>

    <li class="divider"></li>

    <li class="nav-header">Title Formula</li>
    <li><textarea style="font-size:85%" class="titleFormula"></textarea></li>
    <li class="nav-header">Subtitle Formula</li>
    <li><textarea style="font-size:85%" class="subtitleFormula"></textarea></li>
    <li class="nav-header">Time Formula</li>
    <li><textarea style="font-size:85%" class="timeFormula"></textarea></li>

    <li class="divider"></li>

    <li class="nav-header">Intents</li>
    <li><textarea style="font-size:85%" class="intents"></textarea></li>
</ul>

<button disabled class="import btn btn-primary">Save</button>

