<ul class="nav nav-list">
    <li class="nav-header">Property</li>
    <li class="property-container"></li>

    <li class="nav-header">Display Name</li>
    <li><input type="text" placeholder="Display Name" class="displayName"></li>

    <li class="nav-header">Data Type</li>
    <li><input type="text" class="dataType"></li>

    <li class="nav-header">Display Type</li>
    <li><input type="text" class="displayType"></li>

    <li class="nav-header"><label style="font-size: 100%;font-weight: bold;"><input type="checkbox" class="userVisible"> User Visible</label></li>

    <li class="nav-header"><label style="font-size: 100%;font-weight: bold;"><input type="checkbox" class="addable"> Addable</label></li>

    <li class="nav-header"><label style="font-size: 100%;font-weight: bold;"><input type="checkbox" class="sortable"> Sortable</label></li>

    <li class="nav-header"><label style="font-size: 100%;font-weight: bold;"><input type="checkbox" class="searchable"> Searchable</label></li>

    <li class="divider"></li>

    <li class="nav-header">Display Formula</li>
    <li><textarea style="font-size:85%" class="displayFormula"></textarea></li>

    <li class="divider"></li>

    <li class="nav-header">Validation Formula</li>
    <li><textarea style="font-size:85%" class="validationFormula"></textarea></li>

    <li class="divider"></li>

    <li class="nav-header">Possible Values</li>
    <li><textarea style="font-size:85%" class="possibleValues"></textarea></li>

    <li class="divider"></li>

    <li class="nav-header">Dependent Iris</li>
    <li><textarea style="font-size:85%" class="dependentPropertyIris"></textarea></li>
</ul>

<button disabled class="import btn btn-primary">Save</button>

