<ul class="nav nav-list">
    <li class="nav-header">Relationship</li>
    <li class="relationship-container"></li>

    <li class="nav-header">Display Name</li>
    <li><input type="text" placeholder="Display Name" class="displayName"></li>
</ul>

<button disabled class="import btn btn-primary">Save</button>

