<ul class="nav nav-list">

    <li>
        <label class="nav-header">Priority</label>
        <select class="vertex-priority">
          <option selected>LOW</option>
          <option>NORMAL</option>
          <option>HIGH</option>
        </select>

        <label class="nav-header">Concept Type</label>
        <div class="vertex-concept-type"></div>

        <label class="nav-header">Property Name</label>
        <div class="vertex-property-name"></div>

        <button class="btn vertex">Requeue Vertices</button>
    </li>

    <li class="divider"></li>

    <li>
        <label class="nav-header">Priority</label>
        <select class="edge-priority">
          <option selected>LOW</option>
          <option>NORMAL</option>
          <option>HIGH</option>
        </select>

        <label class="nav-header">Label</label>
        <div class="edge-label"></div>

        <button class="btn edge-label">Requeue Edges</button>
    </li>

</ul>
