<ul class="nav nav-list">

    <li class="nav-header">Property Name</li>
    <li>
        <input type="text" class="vertex-property-name" value="http://visallo.org#raw">
        <button class="btn vertex-property-name">Requeue Vertex Properties</button>
    </li>

    <li class="divider"></li>

    <li class="nav-header">Label</li>
    <li>
        <input type="text" class="edge-label" value="http://visallo.org#hasSource">
        <button class="btn edge-label">Requeue Edges By Label</button>
    </li>

    <li class="divider"></li>

    <li><button class="btn vertex">Requeue Vertices</button></li>

    <li><button class="btn edge">Requeue Edges</button></li>

</ul>
