<ul class="nav nav-list">

    <li>
        <label class="nav-header">Priority</label>
        <select class="vertex-priority">
          <option selected>LOW</option>
          <option>NORMAL</option>
          <option>HIGH</option>
        </select>

        <label class="nav-header">Concept Type</label>
        <input type="text" class="vertex-concept-type" value="">

        <label class="nav-header">Property Name</label>
        <input type="text" class="vertex-property-name" value="http://visallo.org#raw">

        <button class="btn vertex">Requeue Vertices</button>
    </li>

    <li class="divider"></li>

    <li>
        <label class="nav-header">Priority</label>
        <select class="edge-priority">
          <option selected>LOW</option>
          <option>NORMAL</option>
          <option>HIGH</option>
        </select>

        <label class="nav-header">Label</label>
        <input type="text" class="edge-label" value="http://visallo.org#hasSource">
        <button class="btn edge-label">Requeue Edges</button>
    </li>

</ul>
