<div class="user-row" data-user="{{ json }}">
  <div class="user-status {{ statusClass }}"></div>
  {{ displayName }}
  {{#if subtitle }}
  <div class="subtitle">{{ subtitle }}</div>
  {{/if }}
</div>
