<form action="" class="org-visallo-usernameonly">
  <p class="text-error">{{#if errorMessage}}{{errorMessage}}{{/if}}</p>
  <input class="username" type="text" placeholder="Username" autocomplete="off" autofocus />
  <button class="btn btn-primary">Log In</button>
</form>
